@import "./frame.scss";
@import "./btn-price.scss";
@import "./container-landing-page.scss";
@import "./benefits.scss";
@import "./router.scss";
@import "./footer-landing.scss";
@import "./mall-product.scss";
@import "./landing-product.scss";

body {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    padding: 0;
}